*{
  margin: 0;
  padding: 0;
}

body{
  font-family: serif;
  width: 100vph;
  background-color: whitesmoke;
}

.nav{
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
}

.logs{
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.links{
  margin-top: 20px;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.links a{
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.cnt{
  margin-top: 40px;
  width: 90%;
  margin: 2.5%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

hr{
  border: 2px solid black;
}

table{
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
  width: 40%;
  margin-left: 30%;
}
td, th{
  border: 2px solid black;
  height: 40px;
  font-size: 25px;
}

th{
  background-color: darkcyan;
}

ul{
  list-style-type: circle;
  list-style-position: inside;
  text-align: center;
}

.menu{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.bev1, .bev2, .bev3, .bev4, .bev5{
  width:22%;
  height: 190px;
  cursor: pointer;
}
.bev1{
  background-image: url("tea.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;

}
.bev1 h3, .bev1 li{
  background-color: darkcyan;
  opacity: 90%;
  color: white;

}
.bev2{
  background-image: url("starters.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.bev2 h3, .bev2 li{
  background-color: darkcyan;
  opacity: 90%;
  color: white;

}
.bev3{
  background-image: url("pizza.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.bev3 h3, .bev3 li{
  background-color: darkcyan;
  opacity: 90%;
  color: white;
}

.bev4{
  background-image: url("burger.jpeg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.bev4 h3, .bev4 li{
  background-color: darkcyan;
  opacity: 90%;
  color: white;

}
.bev5{
  background-image: url("south.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
.bev5 h3, .bev5 li{
  background-color: darkcyan;
  opacity: 90%;
  color: white;
}

footer{
  width: 100%;
  height: 60px;
  background-color: black;
}
